<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4" ?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emdepub.md" name="Markdown" base-type="org.eclipse.core.runtime.text" file-extensions="md, mdown, markdown, markdn"></content-type>
		<content-type id="org.emdepub.epub_project" name="ePub Project" base-type="org.eclipse.core.runtime.text" file-extensions="epub-project"></content-type>
		<content-type id="org.emdepub.toml" name="TOML" base-type="org.eclipse.core.runtime.text" file-extensions="toml"></content-type>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor class="org.emdepub.markdown.editor.MarkdownEditor" contributorClass="org.emdepub.markdown.editor.MarkdownEditorContributor" default="true" extensions="md, mdown, markdown, markdn" icon="plugin-icons/md-multi-page-editor.png" id="org.emdepub.editor.MarkdownEditor" name="Markdown Editor and Viewer">
			<contentTypeBinding contentTypeId="org.emdepub.md"></contentTypeBinding>
		</editor>
		<editor class="org.emdepub.epub_project.editor.EPubProjectEditor" contributorClass="org.emdepub.epub_project.editor.EPubProjectEditorContributor" default="true" extensions="epub-project" icon="plugin-icons/epub-editor.png" id="org.emdepub.editor.EPubProject" name="ePub Project Editor">
			<contentTypeBinding contentTypeId="org.emdepub.epub_project"></contentTypeBinding>
		</editor>
		<editor class="org.emdepub.toml.editor.TomlExtensionBasedEditor" contributorClass="org.emdepub.toml.editor.TomlExtensionBasedEditorContributor" default="true" extensions="toml" icon="plugin-icons/toml-editor.png" id="org.emdepub.editor.TomlExtensionBasedEditor" name="TOML Editor">
			<contentTypeBinding contentTypeId="org.emdepub.toml"></contentTypeBinding>
		</editor>
	</extension>

	<extension point="org.eclipse.tm4e.registry.grammars">
		<grammar path="code-language/markdown/grammars/markdown.tmLanguage" scopeName="text.html.markdown"></grammar>
		<scopeNameContentTypeBinding contentTypeId="org.emdepub.md" scopeName="text.html.markdown"></scopeNameContentTypeBinding>
		
		<grammar path="code-language/toml/grammars/toml.tmLanguage.json" scopeName="source.toml"></grammar>
		<scopeNameContentTypeBinding contentTypeId="org.emdepub.toml" scopeName="source.toml"></scopeNameContentTypeBinding>
	</extension>
	
	<extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
		<languageConfiguration contentTypeId="org.emdepub.md" path="code-language/markdown/language-configurations/language-configuration.json"></languageConfiguration>
		<languageConfiguration contentTypeId="org.emdepub.toml" path="code-language/toml/language-configurations/language-configuration.json"></languageConfiguration>
	</extension>
	
	<extension point="org.eclipse.tm4e.ui.themes">
		<theme dark="false" default="true" id="org.emdepub.markdown.light.theme" name="Markdown Light" path="code-language/markdown/themes/markdown-light-theme.css"></theme>
		<themeAssociation scopeName="text.html.markdown" themeId="org.emdepub.markdown.light.theme" whenDark="false"></themeAssociation>
		<theme dark="false" default="true" id="org.emdepub.toml.light.theme" name="TOML Light" path="code-language/toml/themes/toml-light-theme.css"></theme>
		<themeAssociation scopeName="source.toml" themeId="org.emdepub.toml.light.theme" whenDark="false"></themeAssociation>
		<theme dark="true" default="true" id="org.emdepub.toml.dark.spec.theme" name="TOML Spec" path="code-language/toml/themes/toml-spec-theme.css"></theme>
		<themeAssociation scopeName="source.toml" themeId="org.emdepub.toml.dark.spec.theme" whenDark="true"></themeAssociation>
	</extension>
	<extension point="org.eclipse.tm4e.ui.snippets">
		<snippet name="org.emdepub.snippet.markdown" path="code-language/markdown/snippets/markdown.code-snippets" scopeName="text.html.markdown"></snippet>
		<snippet name="org.emdepub.snippet.toml" path="code-language/toml/snippets/toml.code-snippets" scopeName="source.toml"></snippet>
	</extension>

	<extension point="org.eclipse.ui.genericeditor.reconcilers">
		<reconciler class="org.emdepub.markdown.editor.language.MarkdownOutlineReconciler" contentType="org.emdepub.md"></reconciler>
	</extension>
	<extension point="org.eclipse.ui.genericeditor.foldingReconcilers">
		<foldingReconciler class="org.emdepub.markdown.editor.language.MarkdownFoldingReconciler" contentType="org.emdepub.md"></foldingReconciler>
	</extension>
	<extension point="org.eclipse.ui.genericeditor.contentAssistProcessors">
		<contentAssistProcessor class="org.emdepub.markdown.editor.language.MarkdownContentAssistProcessor" contentType="org.emdepub.md"></contentAssistProcessor>
		<contentAssistProcessor class="org.emdepub.toml.editor.language.TomlContentAssistProcessor" contentType="org.emdepub.toml"></contentAssistProcessor>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.emdepub.site_project"
          name="Emdepub Web Site">
    </category>
    <wizard
          category="org.emdepub.site_project"
          project="true"
          class="org.emdepub.site_project.wizard.SiteNewWizard"
          icon="plugin-icons/site-editor.png"
          id="org.emdepub.site_project.wizard.SiteNewWizard"
          name="Web Site Java Project">
    </wizard>
 </extension>
</plugin>
