<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.emdepub.md"
            name="org.emdepub.md"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="md">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.emdepub.md"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.emdepub.MdPresentationReconciler"
            contentType="org.emdepub.md">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.emdepub.MdHoverProvider"
            contentType="org.emdepub.md">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.emdepub.MdContentAssistProcessor"
            contentType="org.emdepub.md">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.emdepub.MdAutoEditStrategy"
            contentType="org.emdepub.md">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="org.emdepub.MdReconciler"
            contentType="org.emdepub.md">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.emdepub.ValidatorDocumentSetupParticipant"
            contentTypeId="org.emdepub.md"
            extensions="md">
      </participant>
   </extension>

</plugin>
